@import "../../node_modules/css-reset-and-normalize-sass/scss/reset-and-normalize";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../node_modules/react-bootstrap-toggle/lib/bootstrap2-toggle";
@import "../../node_modules/react-bootstrap-table/dist/react-bootstrap-table-all.min.css";
@import "./react-toggle";


.none {
  display: block;
}

.show {
  display: none;
}

.pump {
  display: inline-flex;
  width: 900px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.right-side {
  position: absolute;
  top: 150px;
}

.center-side {
  position: relative;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.main-menu {
  display: flex;
  width: 500px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.phrase {
  display: flex;
  justify-content: center;
  width: 500px;
}

.five-btn {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

@keyframes fill {
  from {height: 10px;}
  to {height: 115px;}
}

@keyframes drain {
  from {height: 115px;}
  to {height: 0;}
}

.water-fill{
  position: absolute;
  width: 139px;
  height: 0;
  background: blue;
  left: 275px;
  bottom: 143px;
  animation-name: fill;
  animation-duration: 16s;
  animation-fill-mode: forwards;
}

.water-drain{
  position: absolute;
  width: 139px;
  height: 0;
  background: blue;
  left: 275px;
  bottom: 143px;
  animation-name: drain;
  animation-duration: 16s;
  animation-fill-mode: forwards;
}

.markers {
  position: absolute;
  width: 31px;
  height: 31px;
  border-radius: 50%;
}

.marker-1 {
  left: 118px;
  top: 300px;
}

.marker-2 {
  left: 200px;
  top: 300px;
}

.marker-3 {
  left: 406px;
  top: 305px;
}

.marker-4 {
  left: 406px;
  top: 218px;
}

.marker-5 {
  left: 328px;
  top: 46px;
}

.video {
  display: flex;
  justify-content: center;
}

.state-danger {
  background: red;
  opacity: 0.8;
}

.state-safe {
  background: green;
  opacity: 0.5;
}

.controllers {
  width: 180px;
}


